<% projects.each do |p| %>
  <div id="pro_<%=p.id%>" class="project">
    <b><%= p.name %></b>
    <%= simple_format(p.desc) %>
    <%= link_to "Go to website", p.url %>
    <% if logged_in? %>
     | <%= link_to 'Edit', edit_project_path(p) %>
    <%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
